/node_modules
/tmp
.swp
*.swp
*.session
*.log
*.sock
.idea
.DS_Store
._.DS_Store
.htpasswd
.pidfile
.digest-cache.json
check.txt
.vagrant
*.heapsnapshot

# package managers
.yarn
npm-debug.log

# Retire cache
.retire-cache

# Docs related
/docs-sources/includes/mage

# reports
/coverage-report
/coveralls
