os:
  - linux
  - osx

dist: trusty

language: node_js
node_js:
  - 4
  - 6
  - 7
  - 8

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install zmq; fi

script:
  - travis_retry npm run report:coveralls

env:
  global:
    - NODE_ENV=development

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libzmq3-dev
